/* h1 {
    color: rgb(0, 255, 42);
} */
a {
    text-decoration: none;
}
.link {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.title {
    color: #222222;
    font-size:28px;
    line-height: 36px;
    font-weight: bold;
}
.text {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7D7987;
}
.title-h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}
.images_style {
    width: 512px;
    height: 900px;
    border-radius: 10px;
    margin: 40px auto 40px; 
    display: block;
}
.aligncenter {
    text-align: center;
}