



@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

html {
    font-family: 'Lato', sans-serif;
}

* {
    margin: 0px
}

.bodystyle {
    margin: 0px;
}

.header {
    background-color: #222;
    /* width: 2000; */
}

.left {
    margin-left: 30px;
}

.header-img {
    position: relative;
    display: flex;
    column-gap: 20px;
}

.menu {
position: relative;
}
.header_drop-down_menu {
    display: none;
    position: fixed;
    top: 75px;
    right: 0;
    background-color: white;
    z-index: 2;
}
/* .menu::after {
    content: "MENU";
    font-size: 40px;
    font-weight: 600;
    position: fixed;
    width: 200px;
    height: 300px;
    background-color: #FFF;
    display: none;
}
.menu:hover::after {
    display: block;
} */
.stack:hover .header_drop-down_menu {
    display: block;
}

.drop-down_menu__title {
    font-size: 14px;
    color: #000;
    font-weight: 700;
    margin: 20px 20px 10px;
}

.drop-down_menu__txt {
    margin: 10px 20px;
    color: #F16D7F;
    font-size: 14px;
    font-weight: 400;
}
.drop-down_menu__link {
    margin-left: 40px;
    margin-right: 40px;
    color: #6F6E6E;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;

}

.basket {
    position: relative;
    
}
.basket::after {
    content: '5';
    font-size: 10px;
    padding: 5px 8px;
    color: #FFF;
    /* width: 15px;
    height: 15px; */
    border-radius: 50%;
    position: absolute;
    /* right: -10; */
    left: 20px;
    bottom: 20px;
    background-color: #F16D7F;
   
}

.header__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    height: 75px;
}
.background-color {
    background-color: #F1E4E6;
}
.section1 {   
    background-color: #F1E4E6; 
    display: flex;
    align-items: center;
    /* max-width: 1600px; */
}

.img {
    width: 800px;
}

.section__content {
    width: 380px;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.title {   
    color: #222;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0px;   

}

.title-item {
    display: inline;
    color: #222;
    font-family: Lato;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.title-item__end {
    color: #F16D7F;
font-family: Lato;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
}


 /* Section2*/


.categories {
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);    
    gap: 30px;
    position: relative;
    
}

.section2-content {
    position: relative;
}
.section2-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 22, 22, 0.7);
}
.section2-content img {
    display: block;
    width: 100%;
    height: auto;
}
.center {
    margin-left: auto;
    margin-right: auto;
}

.txt {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-family: Lato;
    line-height: normal;
}

.item-4 {

    position: relative;
    grid-column-start: 1;
    grid-column-end: 4;
}

.sale-txt {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    white-space: nowrap;
}

.category-txt {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    white-space: nowrap;
}

.fetured {
    margin-top: 100px;
   /
}

.fetured-title {
    color: #222;
    text-align: center;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
}

.fetured-txt {
    color: #9F9F9F;
    text-align: center;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section3 {
    max-width: 1140px;
    margin-top: 100px;
}
.sect3-item {
    background-color:  #F8F8F8;
}

.section3-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 30px;
    margin-bottom: 42px;
}

.shadowBox {
    /*display: flex;
    gap: 16px;
    flex-direction: column;
    background-color: #F8F8F8;
    padding: 23px;
    max-width: 316px;*/
    font-family: Lato;
    line-height: normal;
    padding-left: 16px;
} 
.sect3-item__img {
    position: relative;
}

.sect3-item__img::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.7);
    display: none;
}

.sect3-item__img:hover::after {
    display: block;
}

.sect3-item__btn {
    display: none;
    width: 139px;
    height: 44px;   
    justify-content: center;
    align-items: center;
    gap: 11px;
    border: 2px solid white;
    color: white;
    background-color: inherit; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);   
    z-index: 1;
}

.sect3-item__img:hover .sect3-item__btn {
    display: flex;
}
.section3-content__title {
    margin-top: 24px;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

.section3-txt {
    margin: 16px 0 16px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    max-width: 315px;
}

.cost {
    color: #F16D7F;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 20px;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    
}

.button-txt {
    color: #F26376;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid #FF6A6A;
    width: 214px;
    padding: 15px;
    margin-bottom: 50px;
}
.button-txt:hover {
    background-color: #F16D7F;
    color: #FFF;

}

/* .image-txt-wrapper {
    position: relative;
}


.image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 22, 22, 0.70); */
/* } */

.sect3__image-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(110, 108, 103, 0.7);
}

/* Section4 */

.background-color4 {
    background-color: #222224;
}
.section-4 {
    margin-top: 50px;
    display: flex;
    column-gap: 60px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.items-content {
    margin: 90px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    
}
.sect4-txt {
    color: #FBFBFB;
font-family: Lato;
font-size: 19.96px;
font-style: normal;
font-weight: 400;
line-height: normal;
/* text-align: center; */
margin-top: 30px;
}

.sect4-txt__small {
    color: #FBFBFB;
text-align: center;
font-family: Lato;
font-size: 13.972px;
font-style: normal;
font-weight: 300;
line-height: normal;
max-width: 360px;
margin-top: 20px;

}

/* Section5 */

.background-color5 {
    /* position: relative; */
    height: 400px;
    background-image: url('../imgs/Subscribe_BG_blend.png'), url('../imgs/Subscribe_BG.png');
    background-blend-mode: lighten;
    background-position: center;
    background-size: cover;
   
}

.subscribe__subscribe {   
    display: flex;
    z-index: 1;
    flex-direction: row;
    justify-content: space-around;

}
.subscribe-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    /* margin-top: 53px;
    display: flex;
    flex-direction: column;
    align-items:center;
    text-align: center;
    gap: 5px;
    padding: 0 104px; */
}
.subscribe-item img {
    padding: 20px;
    width: 96px;
}
.subscribe-txt {
    color: #222224;
text-align: center;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
max-width: 360px;
margin-bottom: 40px;
}

.subscribe-right__title {
    font-size: 24px;
    font-weight: 700px;
    margin-bottom: 10px;
}
.subscribe-right__txt {
    font-size: 18px;
    font-weight: 400px;
    margin-bottom: 20px;
}
.btn-wrapper {
    border-radius: 50%;
    display: flex;
    border: none;

}
.email {
    border: none;
    width: 290px;
    height: 50px;
    background-color: #E1E1E1;;
    border-radius: 25px 0 0 25px;    

}
.submit {
    border: none;
    color: #FFF;
    width: 100px;
    height: 50px;
    background-color: #F16D7F;
    border-radius: 0 25px 25px 0;

}
.footer {
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.footer-txt {
    color: #FBFBFB;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.facebook {
position: relative;
}
.socials {
    position: relative;
    display: flex;
    gap: 10px;
}
.facebook__icon {
    position: absolute;
    color: #F16D7F;
    left: 10px;
    top: 10px;
}

.facebook__icon svg:hover {
    color: #1815d8;
}

.bg {
    background-color: #FFF;
    fill:#FFF
}
.bg:hover  {
    background-color: #F16D7F;
}

.insta {
    position: relative;
}
.insta:hover {
    color: #F16D7F;
}

.insta__icon svg {
    fill: black;
    position: absolute; 
    background-color: inherit;      
    left: 9px;
    top: 9px;
}
.insta__icon svg:hover {
    /* display: block; */
    
    /* color: #FFF;  */
    fill: #E1E1E1;
    /* background-color: #F16D7F; */
}
.pinterest {
    position: relative;
}
.pinterest__icon {
    position: absolute;    
    left: 10px;
    top: 10px;
}

.twiter {
    position: relative;
}
.twiter__icon {
    position: absolute;
    color: #F16D7F;
    left: 10px;
    top: 10px;
}


@media screen and (max-width:1439px) {

    .header__header {
        max-width: 710px;
        /* height: 75px; */
    }

    .img {
        max-width: 386px;
    }

    .title {
        width: 283px;
        font-size: 44px;
    }
    .title-item {
        font-size: 24px;
    }
    .title-item__end {
        font-size: 24px;
    }
    .center {
        max-width: 100%;
        margin-left: 16px;
        margin-right: 16px;
        gap: 16px;
    }

    .categories {
        gap: 20px;
        margin-bottom: 110px;
    }

    .section2-content__4 {
        max-width: 734px;
    }

    .sect3-item img {
        display: grid;
        width: 100%;
        height: auto;
    }

    .section3-content {       
        grid-template-columns: repeat(2, 1fr);
        margin-left: 8px;
        margin-right: 8px;
    }

}
@media screen and (max-width:767px) {
    .header__header {
        max-width: 320px;
    }

    .basket {
        display: none;
    }  

    .section1 {
        height: 363px;
    }

    .need-hide {
        display: none;
        height: 363px;
    }
    .section__content {
        max-width: 238px;
        margin-left: auto;
        margin-right: auto;
    }
    .title {
        font-size: 38px;
    }
    .title-item {
        font-size: 20px;
    }
    .title-item__end {
        font-size: 20px;
    }
    .categories {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 64px;
        margin-bottom: 64px;
        /* max-width: 343px;   */
        gap: 32px;
    }
    .section2 {
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }

    .section3-content {       
        grid-template-columns: repeat(1, 1fr);
        margin-left: 8px;
        margin-right: 8px;
    }
    .image-size {
        max-width: 360px;
    }
    .item-4 {
        grid-column: span 1;
    }
    .txt {
        top: 45%;
    }
    .item4-txt {
        top: 30%
    }

    .section-4 {
        margin-top: 80px;
        display: flex;
        flex-direction: column;       
        padding: 50px 10px;

    }
    .items-content {
        margin: 18px;
    }

    .subscribe__subscribe {
        flex-direction: column;
    }

    .footer {
        flex-direction: column-reverse;
        height: 150px;
    }

    .socials {
        margin: 30px 10px 10px 10px;
    }
    .subscribe-txt {
        font-size: 18px;
    }

    .subscribe-right__txt {
        font-size: 14px;
        font-weight: 400;
    }
    .email {
        font-size: 14px;
        font-weight: 400;
        width: 230px;
    }
}

@media screen and (max-width:768px) {
    .section-4 {
        margin-top: 80px;
        flex-direction: column;
        padding: 50px 0px;
    }

    .items-content {
        margin: 15px;
    }
    .subscribe__subscribe {
        flex-direction: column;
    }
    .background-color5 {
        height: 580px;
    }
}